@media screen and (max-width:1024px){
    html{
        margin: 0px;
        width: 100px;
        height: 100px;
    }
    #logospace{
        width: 100px;
        position: fixed;
    }
    #presentation{
        visibility: hidden;
    }
}