@media only screen and (max-width: 720px) {
    footer{
        text-align: center;
    }
    .foot-content {
        display: inline-block;
    }
    footer .social-link{
        display: inline-block;
    }
}